<h1>Calculation Result</h1>

<% if @error %>
  <!-- Display error message in red color if there is an error -->
  <p style="color: red;"><%= @error %></p>
<% else %>
  <!-- Display the result if there is no error -->
  <p>The result is <%= @result %></p>
<% end %>

<!-- Link to start a new calculation -->
<%= link_to 'New Calculation', new_calculator_path %>
